.content {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.content .headerContainer {
    display: flex;
    height: 3vw;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 4%;
}

.content .contentResult {
    width: 90%;
    height: 100%;
    padding-left: 10%;
    margin-top: 2vw;
    font-weight: 600;
    color: #939393;
}

.contentResult .item {
    width: 100%;
    margin-bottom: 1vw;
    cursor: pointer;
}
.contentResult .item:active {
    color: #6F2E71;
}

.separation {
    width: 80%;
    height: 1px;
    background-color: #D4D4D4;
    margin-bottom: 1vw;
}
